@model ShopWeb.ViewModels.MemberRegisterViewModel

@{
  ViewBag.Title = "Register";
}
@section scripts{
  @Scripts.Render("~/bundles/jqueryval")

}

<h2>Register</h2>

<div class="form-horizontal">
  @using (Html.BeginForm("Register", "Member", FormMethod.Post, new { enctype = "multipart/form-data" }))
  {
    <div class="alert alert-warning">
      @Html.ValidationSummary()
    </div>

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
      @Html.LabelFor(model => model.newMember.Account, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.EditorFor(model => model.newMember.Account, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.newMember.Account, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.PasswordCheck, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.PasswordFor(model => model.PasswordCheck, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.PasswordCheck, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.newMember.Name, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.TextBoxFor(model => model.newMember.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.newMember.Name, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.newMember.Email, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.TextBoxFor(model => model.newMember.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.newMember.Email, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.MembersImage, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.TextBoxFor(model => model.MembersImage, new { @class = "form-control", type = "file" })
        @Html.ValidationMessageFor(model => model.MembersImage, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-1 col-md-10">
        <input type="submit" value="註冊" class="btn bg-primary" />
      </div>
    </div>

  }
</div>

