@model ShopWeb.ViewModels.ItemViewModel

@{
  ViewBag.Title = "Index";
}

<h2>Index</h2>


<div class="table table-hover">
  <table class="table">
    @if (!Model.IdList.Count.Equals(0))
    {
      int row = Convert.ToInt32(Math.Ceiling(Convert.ToDouble(Model.IdList.Count) / 5));
      for (int r = 0; r < row; r++)
      {
        for (int i = 5 * r; i < (r + 1) * 5; i++)
        {
          if (i < Model.IdList.Count)
          {
            <tr>
              <td id="ItemBlock-(@Model.IdList[i])">
                @Html.Partial("ItemBlock", Model.ItemBlock[i])
              </td>
            </tr>
          }
          else
          {
            break;
          }

        }


      }



    }
    else
    {
      <tr>
        <td collspan="4">
          尚未上架
        </td>
      </tr>
    }
  </table>
  @if (!User.Identity.IsAuthenticated)
  {
    <text>請先登入</text>
    @Html.ActionLink("login", "Login", "Member")

  }
  @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
  {

    <a href="@Url.Action("Create")">
      <input class="btn btn-primary" type="button" value="新增商品" />
    </a>
  }
  <div class="col-xs-12 text-center">
    <ul class="pagination">
      <li class="first @((Model.Paging.NowPage>1)?"":"disabled")">
        @Ajax.ActionLink("<<", "Index", new { Page = 1 }, new AjaxOptions { UpdateTargetId = "ItemList", InsertionMode = InsertionMode.Replace })
      </li>
      <li class="first @((Model.Paging.NowPage > 1)?"":"disabled")">
        @Ajax.ActionLink("<", "Index", new { Page = Model.Paging.NowPage - 1 }, new AjaxOptions { UpdateTargetId = "ItemList", InsertionMode = InsertionMode.Replace })
      </li>
      @for (var page = (Model.Paging.NowPage - 6); page < (Model.Paging.NowPage + 6); page++)
      {
        if ((page > 0) && (page <= Model.Paging.MaxPage))
        {
          if (page == Model.Paging.NowPage)
          {
            <li class="active">
              <a href="#">page</a>
            </li>
          }
          else
          {
            <li>
              @Ajax.ActionLink(page.ToString(), "Index", new { Page = page }, new AjaxOptions { UpdateTargetId = "ItemList", InsertionMode = InsertionMode.Replace })
            </li>

          }
        }
      }
      <li class="last @((Model.Paging.NowPage <Model.Paging.MaxPage)?"":"disabled")">
        @Ajax.ActionLink(">>", "Index", new { Page = Model.Paging.MaxPage }, new AjaxOptions { UpdateTargetId = "ItemList", InsertionMode = InsertionMode.Replace })
      </li>
    </ul>
  </div>
</div>